body{
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    text-align: left;
    background-color: #ffffff;
}

#logo a{
    font-size: 50px;
    text-decoration:none;
    color: #1d2120;
}
#logo a:hover{
    text-decoration: none;
    color: #b3b3b3;
}
header{
    background-color: #ffffff;
    color: #1d2120;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
}

li a {
    display: block;
    color: #f79f79;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    text-decoration: none;
    color: #f79f79;
   /*background-color: #f79f79;
   color: #ffffff;*/
}
.jumbotron{
    display: flex;
    text-align: left;
    background-color: #ffffff;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: #1d2120;
}

#me{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;  
}

#email{
    position: absolute;
    top: 50%;
    left: 40%;
    margin: 100px 0 0 -150px;  
}

#linkedin{
    position: absolute;
    top: 50%;
    left: 80%;
    margin: 100px 0 0 -150px;
}


















